.digitel{
    position: relative;
    margin-bottom: 400px;
    //      width: 100%;
    //      height: 100%;
    &::after{
        overflow: hidden;
        content: url(../../images/hero-bg-desktop.png);
        height: 775px;
        width: 820px;
        position: absolute;
        left: 380px;
        top: 0px;
        // background-image: ;
        // background-size: 656px 500px;
    }
    &::before{
        overflow: hidden;
        content: url(../../images/hero-phones-desktop.png);
        height: 899.9897460938px;
        width: 728.5651245117px;
        position: absolute;
        left: 553px;
        top: 0px;
        z-index: 1;
    }
    // height: 84px;
    width: 447px;
    
    
    & >h2{width: 447px;
        padding-top: 240px;
        font-weight: 100;
font-size: 56px;
line-height: 64px;
/* or 114% */
// height: 84px;

    
letter-spacing: -1px;

color: #2D314D;
    }
    & > p{
        font-size: 18px;
line-height: 28px;
/* or 156% */
// height: 84px;
width: 447px;
    
letter-spacing: -0.28125px;

color: #9597A5;
    }
    & > a{
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        /* identical to box height, or 200% */
        background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
border-radius: 22px;
        padding: 8px 33px;
        color: #FFFFFF;
    }
}
.control{
    background: #F4F5F7;
    &__title{
        font-weight: 100;
        font-size: 40px;
        line-height: 64px;
        letter-spacing: -0.714286px;
        color: #2D314D;
    }
    &__desc{
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.28125px;
        color: #9597A5;
        width: 635px;
    }
    &__cards{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 70px 0;
    }
    &__card{
        height: 325px;
        width: 250px;
        h3{
            font-weight: 100;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.428571px;
            color: #2D314D;
        }
        p{
            font-size: 16px;
            line-height: 26px;
            letter-spacing: -0.25px;
            color: #9597A5;
        }
    }
}


.latest{
    &__title{
        font-weight: 100;
        font-size: 40px;
        line-height: 64px;
        letter-spacing: -0.714286px;
        color: #2D314D;
    }
    &__cards{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .card{
            width: 255px;
            &__img{
                width: 100%;
                height: 200px;
                background: url(../../img/l1.png) no-repeat;
                background-position: center;
                background-size: contain;
            }
        }

    }
}
@media only screen and (max-width:375px) {
    .digitel{
        width: 375px;
        text-align: center;
        &::after{
            display: none;
        }
        &::before{
            display: none;
        }
        
        
        
        & >h2{
            margin: 0px 0px ;
            // height: 94px;
width: 327px;
margin: 0 auto;
font-weight: 100;
font-size: 40px;
line-height: 47px;
text-align: center;
letter-spacing: -0.714286px;

color: #2D314D;

        }
        & > p{
            // height: 94px;
width: 327px;
font-size: 15px;
line-height: 25px;
/* or 167% */
margin: 0px auto;
text-align: center;
letter-spacing: -0.234375px;
margin-bottom: 20px;
color: #9597A5;
        }
        // & > a{}
            
    }
}